# SPDX-License-Identifier: MIT
# Copyright (c) 2025 Advanced Micro Devices, Inc. All rights reserved.

results/
build/
rocSHMEM/
*.sif
.vscode/
__pycache__/
*.so
*.json
*.proto
*.pftrace
*.log
*.txt
slurm_logs*/
redo.sh

!dataset/*
omni*.pdf
slurm*.out

*.egg-info

examples/gemm/results/*
asm/